@use "../utils" as *;

.article {
  width: 100%;
  max-width: 58.75rem;
  background-color: var(--white);
  padding: var(--space-200);
  border-radius: var(--space-200);
  box-shadow: 0 var(--space-200) var(--space-500) var(--grey-shadow);

  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-200);
  justify-items: center;

  @include mq(s) {
    grid-template-columns: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0 0 var(--space-900);
  }

  &--not-found {
    grid-template-columns: auto;
    max-width: 30rem;
    padding-block: var(--space-600);
    text-align: center;
  }
}
