@use "../utils" as *;

@mixin btn($bg: transparent, $bg-hover: transparent) {
  --bg: var(#{$bg});
  --bg-hover: var(#{$bg-hover});
  @include preset("3-medium");
  height: var(--space-600);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: var(--space-100);
  padding-inline: var(--space-300);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  background-color: var(--bg);

  @include mq(s) {
    @include preset("4-medium");
    border-radius: var(--space-50);
    padding-inline: var(--space-200);
    height: var(--space-500);
  }

  &:hover {
    --bg: var(--bg-hover);
  }

  &:focus {
    outline: var(--space-25) solid var(--bg-hover);
    outline-offset: var(--space-25);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;

    &:hover {
      --bg: var(--bg-hover);
    }
  }
}

.btn-primary {
  @include btn(--blue-950, --blue-700);
}

.btn-secondary {
  @include btn(--purple-600, --purple-400);
}

.btn-tertiary {
  @include btn();
  color: var(--grey-500);

  &:hover {
    color: var(--blue-950);
  }
}
