@use "../utils" as *;

.form-wrapper {
  width: 100%;
  max-width: 28.125rem;
  justify-self: center;
  padding-block: var(--space-400);
  display: grid;
  align-items: start;
  grid-template-rows: min-content 1fr auto;

  @include mq(s) {
    background-color: var(--white);
    padding: var(--space-400) var(--space-300);
    z-index: 1;
    border-radius: var(--space-125);
    box-shadow: 0 var(--space-200) var(--space-500) rgba(150, 153, 171, 0.3);
    margin-block-start: var(--space-800);
  }

  &--not-found {
    gap: var(--space-300);
    justify-items: center;
    grid-template-rows: auto;
  }

  &__heading {
    @include preset("1");

    @include mq(s) {
      @include preset("2");
    }
  }

  &__description {
    @include preset("3-regular");
    color: var(--grey-500);
    margin-block-start: var(--space-100);
  }
}
