@use "../utils" as *;

::placeholder {
  @include preset("3-medium");
  color: var(--grey-500);
}

.label {
  @include preset("4-regular");
  cursor: pointer;
  align-items: center;
}

.form {
  display: grid;
  align-items: start;
  row-gap: var(--space-300);
  margin-block-start: var(--space-500);

  &--small-gap {
    row-gap: var(--space-200);

    @include mq(s) {
      row-gap: var(--space-100);
    }
  }
}

.form-control {
  display: grid;
  gap: var(--space-100);
  grid-template-columns: max-content 1fr;

  &--full-width {
    grid-column: 1 /-1;
  }

  &--double-gap {
    gap: var(--space-200);
  }

  label {
    @include preset("4-regular");
  }

  input:not([type="radio"], [type="checkbox"]) {
    @include preset("3-medium");
    height: var(--space-600);
    border: var(--space-12) solid var(--purple-200);
    border-radius: var(--space-100);
    padding-inline: var(--space-200);
    width: 100%;
    color: var(--blue-950);
    line-height: 1.39;
    grid-column: 1 / -1;

    &:hover,
    &:focus {
      border-color: var(--purple-600);
      outline: 0;
    }
  }

  &--error {
    & > :is(input:not([type="radio"], [type="checkbox"]), textarea) {
      border-color: var(--red-500);

      &:hover,
      &:focus {
        border-color: var(--red-500);
        outline: 0;
      }
    }
  }
}

.error {
  @include preset("4-bold");
  justify-self: end;
  color: var(--red-500);

  @include mq(s) {
    @include preset("5");
  }
}

.form-buttons {
  align-self: end;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  @include mq(s) {
    position: fixed;
    bottom: 0;
    background-color: var(--white);
    width: 100%;
    padding: var(--space-200);
    left: 0;
  }
}
