@use "../utils" as *;

.thank-you {
  width: 100%;
  max-width: 28.125rem;
  justify-self: center;
  display: grid;
  align-content: center;
  justify-items: center;
  text-align: center;
  gap: var(--space-200);

  @include mq(s) {
    background-color: var(--white);
    padding: var(--space-400) var(--space-300);
    z-index: 1;
    border-radius: var(--space-125);
    box-shadow: 0 var(--space-200) var(--space-500) rgb(150 153 171 / 30%);
    margin-block-start: var(--space-800);
  }

  &__icon {
    width: auto;
  }
  &__title {
    @include preset("1");
    margin-block-start: var(--space-200);
  }

  &__description {
    @include preset("3-regular");
    color: var(--grey-500);
  }

  a {
    color: currentcolor;

    &:hover {
      color: var(--purple-600);
    }
  }
}
