@use "../utils" as *;

main {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: var(--space-300);

  @include mq(s) {
    align-items: start;
    padding: var(--space-200);
  }
}
